/*NAVBAR*/

.navbar-uls{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    color:red;
}

.navbar {
    background-color: yellow; /* Set a background color for the navbar */
    padding: 10px;
  }

/* ------------------------------------------------------------------------------ */
  /* PROFILE */
.profile-container {
max-width: 600px;
margin: 50px auto;
padding: 20px;
border-radius: 10px;
background-color: #f4f4f4;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
text-align: center;
color: #333;
}

.profile-info {
padding: 15px;
font-size: 18px;
}

.profile-info p {
margin: 10px 0;
color: #555;
}
  
/* ------------------------------------------------------------------------------------- */